.Register-box {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #666;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 4);
}

.VBox-Fields {
    -fx-spacing: 12;
}

Button {
    -fx-pref-width: 120;
}
