.home{
    -fx-spacing: 20px;
}
.menubar{
    -fx-border-color: black;      /* màu khung */
    -fx-border-width: 2;          /* độ dày */
    -fx-border-radius: 5;         /* bo góc */
    -fx-padding: 10;
    -fx-font-weight: bold;
}

.stack{
    -fx-border-color: black;      /* màu khung */
    -fx-border-width: 2;          /* độ dày */
    -fx-border-radius: 5;         /* bo góc */
    -fx-padding: 10;
}

.DBbutton:hover{
    -fx-cursor: hand;
}
.DBbutton:hover .label{
    -fx-text-fill: #4CAF50;
}
.PJbutton:hover{
    -fx-cursor: hand;
}
.PJbutton:hover .label{
    -fx-text-fill: #4CAF50;   /* đổi màu khi hover */

}
.Taskbutton:hover{
    -fx-cursor: hand;
}
.Taskbutton:hover .label{
    -fx-text-fill: #4CAF50;
}
.STbutton:hover{

    -fx-cursor: hand;
}

.STbutton:hover .label{
    -fx-text-fill: #4CAF50;   /* đổi màu khi hover */

}
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.card {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-border-color: #ddd;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}
.section {
    -fx-padding: 20;
    -fx-spacing: 20;
}