.AnchorPane-style {
    -fx-background-image: url("../Image/ade94889319475e835f26231f1e490dd.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.login-box {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #FFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 4);
    -fx-padding: 12;
}

.LabelDN {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

.Fake {
    -fx-border-color: #666;
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 4 8 4 8;
    -fx-spacing: 8;
}

.Field {
    -fx-border-color: transparent;
    -fx-background-color: white;
    -fx-font-size: 14px;
    -fx-pref-height: 28px;
}

.icon {
    -fx-font-size: 16px;
}

.my-button {
    -fx-background-color: #90ee90;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
}

.my-button:hover {
    -fx-background-color: #7cfc00;
}

.my-button:pressed {
    -fx-background-color: #0D47A1;
}

.VBox-Fields {
    -fx-spacing: 15;
}

.Login-Content {
    -fx-padding: 25;
    -fx-spacing: 10;
}
.register-link {
    -fx-text-fill: #2196F3;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
.register-link:hover {
    -fx-text-fill: #0d47a1;
}
.Slogan {
    -fx-font-weight: bold;
    -fx-font-size: 23;
    -fx-text-fill: white;
}
.hbox2 {
    -fx-padding: 0 0 0 100;
}