VBox{
    -fx-spacing: 10px;
    -fx-padding: 20px;
}

.create{
    -fx-background-color: Lime;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.edit{
    -fx-background-color: #0066ff;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.delete{
    -fx-background-color: #f31e1e;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

HBox{
    -fx-spacing: 10px;
}

.table-view .column-header {
    -fx-background-color: #2c3e50; /* màu nền */
}

.table-view .column-header .label {
    -fx-text-fill: white; /* màu chữ */
    -fx-font-weight: bold;
}
